.task{
    border:2px solid silver;
    background-color:#296868;
    border-radius: 7px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    transition: opacity .3s linear;

    .inputCheck{
        display: flex;
        align-items: center;
        background-color: #296868;
     
    input{
        cursor: pointer;
        margin-right: 6px;
    }
    }

    .taskName{
        flex-grow: 1;
        background-color: #296868;
        display: flex;
        align-items: center;

        .dash{
            margin-left: 5px;
        }

        .date{
            font-size: 0.8rem;
            margin-left: 5px;
            color: #fff;
            font-weight: 300;
            background-color: #296868;
        }
    }
   
        span{
            color: #fff;
            font-size: 1rem;
            background-color: #296868;
            position: relative;
            
            &::before{
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background-color: #fff;
                position: absolute;
                top: 12.5px;
                transition: width .1s linear;
            }
        }
    

    .del{
        background:none;
        border: none;
        cursor: pointer;

        &:hover{
            color: #fff;
        }

        .trash{
            background-color: #296868;
        }
    }
}

.finish{
    opacity: 0.1;

    span{
        &::before{
            width: 100%;
        }
    }
}