.task{
    border:2px solid silver;
    background-color:#296868;
    border-radius: 7px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    transition: opacity .3s linear;

     
    input{
        cursor: pointer;
        margin-right: 6px;
    }
   
    span{
        color: #fff;
        font-size: 1.15rem;
        background-color: #296868;
        position: relative;
       
        &::before{
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 14.5px;
            transition: width .1s linear;
        }
    }
}

.finish{
    opacity: 0.1;

    span{
        &::before{
            width: 100%;
        }
    }
}